META-INF/
target/
.settings/
.project
.classpath
okapi/core/nullout.xlf
okapi/integration-tests/output.xml
okapi/integration-tests/output1.html
okapi/integration-tests/genericOutput.txt
okapi/integration-tests/output2.html
okapi/steps/termextraction/terms.txt
