META-INF/
.project
target/
MANIFEST.MF

*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.class
*.orig
local.properties
.classpath
.settings/
.loadpath
/web-app/plugins
/web-app/WEB-INF/classes

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

#python specific
*.pyc
