body	{ font-family: sans-serif; font-size: 0.9em; }

td.appname	{font-weight: bold; font-size: 1.6em; background-color: navy; color: white;
	padding: 0.3em; text-align: center;}
	
td.subname	{background-color: navy; color: white; margin: 2 0 0 0; padding: 0.3em 0.3em 0.3em 0.5em;
		font-size: 1.2em; font-weight: normal;}

h1	{ font-weight: bold; font-size: 1.6em; background-color: #3399CC; color: white;
		padding: 0.3em; margin-bottom: 0; }

h1.withsubtitle	{ font-weight: bold; font-size: 2em; background-color: #336699; color: #FFFFFF;
		padding: 0.5em; margin-bottom: 0; }
		
p.subtitle	{ background-color: #008080; color: white; margin: 2 0 0 0; padding: 0.3em 0.3em 0.3em 0.5em;
		font-size: 1.4em; font-weight: normal; }

h2	{ font-weight: bold; font-size: 1.3em; background-color: #DDEEFF; color: #0000CC;
		padding: 0.2em 0.2em 0.2em 0.4em; }

cite	{ font-weight: bold; color: #000080; font-style:normal; }

kbd	{ font-weight: bold; color: maroon; font-family: sans-serif; }

code	{ font-family: monospace; font-size: 1em; }

pre	{ font-family: monospace; font-size: 1em; background-color: #FFF9EE; border-style: solid; 
		border-width: 1px; border-color: silver; padding: 10; }

h1.util1	{ font-weight: bold; font-size: 1.6em; background-color: #9999FF; color: #FFFFFF;
		padding: 0.3em; margin-bottom: 0; }

h2.util2	{ font-weight: bold; font-size: 1.3em; background-color: #008080; color: white;
		padding: 0.2em 0.2em 0.2em 0.4em; margin-top: 1;}

h1.dlgmain1	{ font-weight: bold; font-size: 1.6em; background-color: #336699; color: #FFFFFF;
		padding: 0.3em; margin-bottom: 0; }

h2.dlgmain2	{ font-weight: bold; font-size: 1.3em; background-color: #DDEEFF;
		padding: 0.2em 0.2em 0.2em 0.4em; margin-top: 1; }
		
h1.dlgsec1	{ font-weight: bold; font-size: 1.6em; background-color: #336699; color: #FFFFFF;
		padding: 0.3em; margin-bottom: 0; }

h2.dlgsec2	{ font-weight: bold; font-size: 1.3em; background-color: #DDEEFF;
		padding: 0.2em 0.2em 0.2em 0.4em; margin-top: 1; }
		
div.toc p	{ margin: 0 0 0 0; }

h1.filt1	{ font-weight: bold; font-size: 1.6em; background-color: #990033; color: #FFFFFF;
		padding: 0.3em; margin-bottom: 0; }

h2.filt2	{ font-weight: bold; font-size: 1.3em; background-color: #008080; color: white;
		padding: 0.2em 0.2em 0.2em 0.4em; margin-top: 1;}