body         { background: white; text: black; font-family: Verdana, Arial, Helvetica; font-size: 80%; margin: 10 }
td           { font-family: Verdana, Arial, Helvetica; font-size: 80%; }
th           { font-family: Verdana, Arial, Helvetica; font-size: 80%; }
h1           { background-color: #336699; color: white; margin: 0; padding: 10; }
h1.section	 { background-color: white; color: black; font-weight: bold; padding: 10px; margin: 2px 0px 0px -5px; font-size: 160%;
			   border: 1px solid; }
h2			 { background-color: #DDEEFF; font-weight: bold; padding: 6px; margin: 20px 0px 0px 0px; font-size: 110%}
h3           { margin-top: 30; font-size: 110%; }
h4           { font-family: Verdana, Arial, Helvetica; font-weight: bold; font-size: 100%; color: #000080;
               margin-top: 30; }

table		{ padding: 0px; } /*border-collapse: collapse; border: 1px solid outset; }*/
/*td.banner	{ padding: 0 0 0 0; background: #006699; color: white; }*/
td.banner   { padding: 0; vertical-align: middle; }
td.toc		{ width: 170px; background: #DDEEFF; }
td.text		{ padding-left: 5px; }

p.parttitle  { background-color: #008080; color: white; margin: 2 0 0 0; padding: 10 10 10 35;
               font-size: 170%; font-weight: normal; border: 0; }

p.license    { font-family: Courier New; border-right:0px none; border-top:0px none; border-bottom:0px none; 
               margin-left: 35; background-color: white; border-left: 1px solid black; padding-left:35; 
               padding-right:0; padding-top:0; padding-bottom:0 }

pre          { background-color: #FFF9EE; border-style: solid; border-width: 1px; border-color: silver; padding: 10 }

p.note       { border-style:solid; border-width:1px; padding:10px; background:#FFFFCC; }

p.indented   { margin-left: 5; }
p.toc        { margin-left: 5; border-left: solid 4px #008080; padding-left: 5; }

a:hover      { background: #FBFFB6; }
cite         { font-style: normal; color: navy; font-weight: bold; }
kbd          { font-family: Verdana, Arial, Helvetica; color: maroon; font-weight: bold; }

div.menu td, div.menu tr, div.menu table { margin: 0; padding: 0; border: 0px}
div.menu a, div.menu em { display: block; font-size: 8pt; }
div.menu em { background-color: #336699; color: white; font-weight: bold; font-style: normal; padding: 3; 
              border: 1px solid; border-color: black; }
div.menu a { vertical-align: middle; border-bottom: 1px solid; border-right: 1px solid; padding: 1; }
div.menu a:link { background: #CFCFCF; text-decoration: none; color: black }
div.menu a:visited { background: #CFCFCF; text-decoration: none; color: black }
div.menu a:hover { background: navy; color: white; font-weight: bold; }

div.menu a:link.current { background: #FFCC00; text-decoration: none; color: black; font-weight: bold; }
div.menu a:visited.current { background: #FFCC00; text-decoration: none; color: black; font-weight: bold; }
div.menu a:hover.current { background: #FFCC00; color: black; font-weight: bold; }

div.menu a:link.expanded { background: #EFEFEF; text-decoration: none; color: black; }
div.menu a:visited.expanded { background: #EFEFEF; text-decoration: none; color: black; }
div.menu a:hover.expanded { background: navy; color: white; font-weight: bold; }

div.menu a.submenu { margin-left: 18px; }
div.menu a:link.submenu { background: #E4E4E4; text-decoration: none; color: black; }
div.menu a:visited.submenu { background: #E4E4E4; text-decoration: none; color: black; }
div.menu a:hover.submenu { background: navy; color: white; font-weight: bold; }

div.menu a.subcurrent { margin-left: 18px; }
div.menu a:link.subcurrent { background: #FFCC00; text-decoration: none; color: black; font-weight: bold; }
div.menu a:visited.subcurrent { background: #FFCC00; text-decoration: none; color: black; font-weight: bold; }
div.menu a:hover.subcurrent { background: #FFCC00; color: black; font-weight: bold; }

td.smalltoc  { padding: 10px; }
td.hrmenu    { text-align: right; vertical-align: top; marging: 0px; padding: 2px 0px 0px 0px; }

div.menuh table { margin: 0px; padding: 0px; border: 0px; }
div.menuh table tr { margin: 0px; padding: 0px; border: 0px; }
div.menuh table tr td { margin: 0px; padding: 0px; border: 0px; text-align: center; }

div.menuh a { display: block; font-size: 8pt; border-bottom: 1px solid; border-right: 1px solid; padding: 4; }
div.menuh a:link { background: #CFCFCF; text-decoration: none; color: black; }
div.menuh a:visited { background: #CFCFCF; text-decoration: none; color: black; }
div.menuh a:hover { background: navy; color: white; font-weight: bold; }

div.menuh a:link.current { background: #FFCC00; text-decoration: none; color: black;  font-weight: bold; }
div.menuh a:visited.current { background: #FFCC00; text-decoration: none; color: black;  font-weight: bold; }
div.menuh a:hover.current { background: #FFCC00; color: black; font-weight: bold;  font-weight: bold; }