body	{ font-family: sans-serif; font-size: 0.9em; }

h1	{ font-weight: bold; font-size: 1.6em; background-color: #3399CC; color: white;
		padding: 0.3em; margin-bottom: 0; }

h2	{ font-weight: bold; font-size: 1.2em; background-color: #BBDDFF; color: black;
		padding: 0.3em 0.3em 0.3em 0.3em; }

cite	{ font-weight: bold; color: #000080; font-style:normal; }

kbd	{ font-weight: bold; color: maroon; font-family: sans-serif; }

code	{ font-family: monospace; font-size: 1em; }

pre	{ font-family: monospace; font-size: 1em; background-color: #FFFFEE; border-style: solid; 
		border-width: 1px; border-color: silver; padding: 10; }

h1.util1	{ font-weight: bold; font-size: 1.6em; background-color: #3399CC; color: #FFFFFF;
		padding: 0.3em; margin-bottom: 0; }

h2.util2	{ font-weight: bold; font-size: 1.3em; background-color: #FFCC00; color: black;
		padding: 0.2em 0.2em 0.2em 0.2em; margin-top: 1;}

h1.dlgmain1	{ font-weight: bold; font-size: 1.6em; background-color: #3399CC; color: #FFFFFF;
		padding: 0.3em; margin-bottom: 0; }

h2.dlgmain2	{ font-weight: bold; font-size: 1.3em; background-color: #BBDDFF;
		padding: 0.2em 0.2em 0.2em 0.2em; margin-top: 1; }
		
h1.dlgsec1	{ font-weight: bold; font-size: 1.6em; background-color: #3399CC; color: #FFFFFF;
		padding: 0.3em; margin-bottom: 0; }

h2.dlgsec2	{ font-weight: bold; font-size: 1.3em; background-color: #BBDDFF;
		padding: 0.2em 0.2em 0.2em 0.2em; margin-top: 1; }
		
div.toc p	{ margin: 1 0 0 0; }
div.toc a:link { text-decoration: none; color: black }
div.toc a:visited { text-decoration: none; color: black }
div.toc a:hover { background: #336699; color: white; }

h1.filt1	{ font-weight: bold; font-size: 1.6em; background-color: #3399CC; color: #FFFFFF;
		padding: 0.3em; margin-bottom: 0; }

h2.filt2	{ font-weight: bold; font-size: 1.3em; background-color: #008080; color: white;
		padding: 0.2em 0.2em 0.2em 0.2em; margin-top: 1;}
		
body.appname { background-color: #336699; color: white; }

h1.appname	{ background-color: #336699; color: white; 
		font-weight: bold; font-size: 1.6em; margin-left: 30; padding: 0.3em;}

span.subname	{font-weight: normal; font-size: 0.8em; }