<?xml version="1.0" encoding="UTF-8"?>
<okapiPlugins version="1.0">
 
 <plugin type="utility"
  id="oku_textrewriting"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.textrewriting.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.textrewriting.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Extract And Rewrite</name>
   <description>Re-writes documents with different changes, for
    example: masking translatable text, etc.</description>
   <provider>Okapi Framework</provider>
  </info>
  <info xml:lang="fr">
   <name>Re-écriture de Text</name>
   <description>Re-écrit les documents en faisant differentes
    modifications. Par exemple, masquer le text traduisible, etc.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>
 
 <plugin type="utility"
  id="oku_alignment"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.alignment.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.alignment.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Create TMX from Bilingual Document</name>
   <description>Creates a TMX file from a set of bilingual documents such as XLIFF files.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>
 
 <plugin type="utility"
  id="oku_extraction"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.extraction.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.extraction.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Create Translation Package</name>
   <description>Creates a translation package.</description>
   <provider>Okapi Framework</provider>
  </info>
  <info xml:lang="fr">
   <name>Creer un Kit de Traduction</name>
   <description>Crée un kit de traduction.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>
 
 <plugin type="utility"
  id="oku_merging"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.merging.Utility"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Merge Translation Package</name>
   <description>Merges an existing translation package.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>

 <plugin type="utility"
  id="oku_xsltransform"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.xsltransform.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.xsltransform.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Apply XSLT Templates</name>
   <description>Processes an input XML document with a given XSLT template.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>

 <plugin type="utility"
  id="oku_linebreakconversion"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.linebreakconversion.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.linebreakconversion.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Convert Line-Breaks</name>
   <description>Converts the line-breaks of any text input file to a give type.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>

 <plugin type="utility"
  id="oku_bomconversion"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.bomconversion.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.bomconversion.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Convert Byte-Order-Marks</name>
   <description>Adds or removes the Unicode Byte-Order-Mark of any text input file to a give type.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>

</okapiPlugins>