<?xml version="1.0" encoding="UTF-8"?>
<okapiPlugins version="1.0">
 
 <plugin type="utility"
  id="oku_extraction"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.extraction.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.extraction.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Translation Package Creation</name>
   <description>Creates a translation package.</description>
   <provider>Okapi Framework</provider>
  </info>
  <info xml:lang="fr">
   <name>Creer un Kit de Traduction</name>
   <description>Crée un kit de traduction.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>
 
 <plugin type="utility"
  id="oku_merging"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.merging.Utility"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Translation Package Post-Processing</name>
   <description>Post-processes translation packages.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>

 <plugin type="separator"/>
  
 <plugin type="utility"
  id="oku_textrewriting"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.textrewriting.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.textrewriting.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Text Rewriting</name>
   <description>Re-writes documents with different changes, for
    example: masking translatable text, etc.</description>
   <provider>Okapi Framework</provider>
  </info>
  <info xml:lang="fr">
   <name>Re-écriture de Text</name>
   <description>Re-écrit les documents en faisant differentes
    modifications. Par exemple, masquer le text traduisible, etc.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>
 
 <plugin type="utility"
  id="oku_alignment"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.alignment.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.alignment.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>ID-Based Alignment</name>
   <description>Aligns pairs of files to create a TMX output.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>

 <plugin type="utility"
  id="oku_searchandreplace"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.searchandreplace.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.searchandreplace.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Search And Replace</name>
   <description>Performs a search and replace on the input file.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>
 
 <plugin type="separator"/>
  
 <plugin type="utility"
  id="oku_encodingconversion"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.encodingconversion.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.encodingconversion.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Encoding Conversion</name>
   <description>Converts a text input file from one encoding to another.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>

 <plugin type="utility"
  id="oku_linebreakconversion"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.linebreakconversion.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.linebreakconversion.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Line-Break Conversion</name>
   <description>Converts the line-breaks of any text input file to a give type.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>

 <plugin type="utility"
  id="oku_bomconversion"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.bomconversion.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.bomconversion.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Byte-Order-Mark Conversion</name>
   <description>Adds or removes the Unicode Byte-Order-Mark of any text input file to a give type.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>

 <plugin type="utility"
  id="oku_uriconversion"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.uriconversion.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.uriconversion.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>URI Conversion</name>
   <description>Performs a URI conversion on the input file.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>

 <plugin type="utility"
   id="oku_rtfconversion"
   version="1.0"
   pluginClass="net.sf.okapi.applications.rainbow.utilities.rtfconversion.Utility"
   updateUri="http://okapi.sf.net/">
   <info>
    <name>RTF Conversion</name>
    <description>Convers the input RTF to different formats.</description>
    <provider>Okapi Framework</provider>
   </info>
  </plugin>

 <plugin type="separator"/>

 <plugin type="utility"
  id="oku_xsltransform"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.xsltransform.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.xsltransform.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>XSL Transformation</name>
   <description>Processes an input XML document with a given XSLT template.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>

 <plugin type="utility"
  id="oku_charlisting"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.charlisting.Utility"
  editorClass="net.sf.okapi.applications.rainbow.utilities.charlisting.Editor"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Used Characters Listing</name>
   <description>Provides a list of all characters used in the translatable parts of the input file.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin>

 <plugin type="utility"
   id="oku_transcomparison"
   version="1.0"
   pluginClass="net.sf.okapi.applications.rainbow.utilities.transcomparison.Utility"
   editorClass="net.sf.okapi.applications.rainbow.utilities.transcomparison.Editor"
   updateUri="http://okapi.sf.net/">
   <info>
    <name>Translation Comparison</name>
    <description>Compare two sets of translations.</description>
    <provider>Okapi Framework</provider>
   </info>
  </plugin>
  
 <plugin type="utility"
   id="oku_ttxchecker"
   version="1.0"
   pluginClass="net.sf.okapi.applications.rainbow.utilities.ttxchecker.Utility"
   editorClass="net.sf.okapi.applications.rainbow.utilities.ttxchecker.Editor"
   updateUri="http://okapi.sf.net/">
   <info>
    <name>TTX Checker</name>
    <description>Check ttx file(s) for errors.</description>
    <provider>Okapi Framework</provider>
   </info>
  </plugin>  

<!-- <plugin type="utility"
  id="oku_twbbatchanalysis"
  version="1.0"
  pluginClass="net.sf.okapi.applications.rainbow.utilities.twbbatchanalysis.Utility"
  updateUri="http://okapi.sf.net/">
  <info>
   <name>Trados Batch Analysis</name>
   <description>Execute a batch TM analysis on the provided input files.</description>
   <provider>Okapi Framework</provider>
  </info>
 </plugin> -->

</okapiPlugins>